.steps {
	@apply flex justify-between relative;

	&:before {
		@apply absolute w-full border-b border-dashed border-light;
		content: "";
		top: calc(50% - 15px);
		left: 0;
	}
	.step {
		@apply relative text-center;
		.item-icon {
			@apply bg-white rounded-full border border-dark h-24 w-24 flex justify-center items-center;
		}
		~ .step {
			.item-icon {
			}
		}
		.title {
			@apply mt-4;
		}
	}
	@include media-breakpoint-down(md) {
		@apply flex-col items-center;
		&:before {
			@apply absolute h-full w-0 border-l ml-12;

			top: 0;
			left: 20%;
		}
		.step {
			@apply flex items-center;
			~ .step {
				@apply mt-4;
			}
			width: 60%;
			.title {
				@apply ml-4;
			}
		}
	}
}
