{% set steps = [
						{
						icon:'images/double-plus.svg',
						title:'新增計畫'
						},
						{
						icon:'images/dialog.svg',
						title:'查核計畫'
						},
						{
						icon:'images/upload.svg',
						title:'上傳報告'
						},
						{
						icon:'images/pen.svg',
						title:'查核報告'
						},
						{
						icon:'images/file-finish.svg',
						title:'完成'
						},
						] %}

<div class="steps ">
	{% for step in steps %}
		<div class="item step">
			<div class="item-icon ">
				<img src="{{step.icon | assets}}" alt="{{step.title}} ">
			</div>
			<p class="title text-lg">{{step.title}}</p>
		</div>
	{% endfor %}
</div>
