<section class="startAProduct flex justify-center items-center bg-yellow relative px-8" style="height: 300px">
	{% include "@cmpt/fudiBtn/fudiBtn.twig" with { item: {
    color: 'blue',
    txt: 'START A PROJECT',
    link: '/contact', 
    addClass: 'large',
  }}%}
	{% include "@cmpt/ribbon/ribbon.twig" with {
    class: 'right-0 top-0 flip mt-8',
    color: 'pink',
    width: 100,
    animate: true,
  }%}
	{% include "@cmpt/ribbon/ribbon.twig" with {
    class: 'right-1/5 bottom-1/5 flip',
    color: 'black',
    type: 'small',
  }%}
	{% include "@cmpt/ribbon/ribbon.twig" with {
    class: 'left-1/5 top-0',
    color: 'pink',
    type: 'small',
  }%}
	{% include "@cmpt/ribbon/ribbon.twig" with {
    class: 'left-0 bottom-0 phoneHide',
    color: 'blue',
    animate: true,
  }%}
</section>
