{% extends "@layout/base.twig"%}
{# {% block append %}
	{{sidebar}}
{% endblock %} #}
{% set cur = 'about' %}
{% block necker %}
	<div class="container wider">
		{% include "@cmpt/slider/slider.twig" with {banners:page_banners}%}
	</div>
{% endblock %}
{% block bodier %}

	{{post.content}}


	{# 天毅的客戶 #}
	<div class="s-title py-8  text-center mt-8 mb-8 ani-f-b">
		<h1>天毅的客戶</h1>
		<img src="http://tainyi.domoidea.com/app/uploads/tainyi/about_t2-1.png" alt="" class="d-txt onCenter">
	</div>


	{% set client = {
			items: [{
				img: {
					src: 'images/d/clients1.png',
					alt: ''
				}
			},{
				img: {
					src: 'images/d/clients2.png',
					alt: ''
				}
			},{
				img: {
					src: 'images/d/clients3.png',
					alt: ''
				}
			},{
				img: {
					src: 'images/d/clients4.png',
					alt: ''
				}
			},{
				img: {
					src: 'images/d/clients5.png',
					alt: ''
				}
			},{
				img: {
					src: 'images/d/clients1.png',
					alt: ''
				}
			},{
				img: {
					src: 'images/d/clients2.png',
					alt: ''
				}
			}]
		}%}

	<section class='ani-f-b'>
		<div class="slider gee clientSlider" data-gene="init:slider-clients">
			{% for key, item in clients %}
				{% set img =  Image(key) %}

				<div class="relative ">
					<img src="{{ img.src}}" alt="{{ img.alt }}">
					<div class="roundBg  scale-150 transform"></div>
				</div>
			{% endfor %}
		</div>
	</section>


</div></div>{% endblock %}
