{% extends "@layout/base.twig"%}

{% block necker %}
{% endblock %}
{% block bodierCls %}{% endblock %}
{% block bodier %}
	{{post.content}}
	<div class="relative py-8">
		<div class="text-center container max-w-screen-sm py-8 border-b-2 border-yellow px-16 relative">
			Environmental friendliness is not only a corporate social responsibility. It isour continuous motive to power up.

		</div>

		{% include "@cmpt/ribbon/ribbon.twig" with {
			class: 'left-0 bottom-0 -mb-16',
			color: 'yellow',
			animate: true,
			type: 'big',
		}%}
		{% include "@cmpt/ribbon/ribbon.twig" with {
			class: 'right-0 top-0 flip -mr-8',
			color: 'blue',
			animate: true,
			width: 100,
			type: 'big',
		}%}
	</div>


	<div class="container max-w-screen-lg py-8">

		<div class="txtPicWrap min-h-auto">
			<div class="txt px-4">
				<div class="content">
					<h2 class="text-5xl font-bold">WHY ?</h2>
					<p class="mt-3">
						Manufacturing and consumption are cyclesnever disappear. As part of the industrial chain, we can avoid huge impact on the environment through little changes.
						<br>
						<br>
						We use professional techniques and friendlier materials to achieve the goals of plastic reduction, weight reduction, decomposability and recyclability in order to create a positive cycle together with our customers.</p>
				</div>
			</div>
			<div class="pic flex justify-center items-center relative">
				<img src="http://fudi.domoidea.com/app/uploads/fudi/green1.png" alt="">
				{% include "@cmpt/ribbon/ribbon.twig" with {
					class: 'right-0 bottom-0 flip',
					color: 'pink',
					animate: false,
					type: 'small',
				}%}
			</div>
		</div>

		<div class="txtPicWrap min-h-auto flex-row-reverse mt-8">
			<div class="txt px-4">
				<div class="content">
					<h2 class="text-5xl font-bold">HOW ?</h2>
					<p class="mt-3">
						In addition to the emphasis on structural design and printing expertise, we also have long-term alliances with biotechnology R&D companies.
						<br>
						<br>
						Putting in all the time and resources to make use of the waste from the ecological environment, ensuring compliance with the international 3R1D (Reduce, Reuse, Recycle, and Degradable) principles through innovative technology.<br>
						<br>
						The concept originate from the idea of full utilization of waste materials and turn them into green eco-packaging products.</p>
				</div>
			</div>
			<div class="pic flex justify-center items-center relative">
				<img src="http://fudi.domoidea.com/app/uploads/fudi/green2.png" alt="">
				{% include "@cmpt/ribbon/ribbon.twig" with {
					class: 'left-0 top-0 flip',
					color: 'pink',
					animate: true,
					type: 'big',
					width: 100,
				}%}

				{% include "@cmpt/ribbon/ribbon.twig" with {
					class: 'left-0 bottom-0 -ml-8',
					color: 'blue',
					animate: false,
					type: 'small',
				}%}
			</div>
		</div>


		<div class="txtPicWrap min-h-auto mt-8">
			<div class="txt px-4">
				<div class="content">
					<h2 class="text-5xl font-bold">WHAT ?</h2>
					<p class="mt-3">
						Partnered with biotechnology companies to create exclusive laboratories. We successfully transformed rice hulls, oyster shells, and egg shells into usable green packaging materials.
						<br>
						<br>
						We will continue to explore and research to create better choices that meet market needs.
						<div class="flex justify-between mt-4">
							<img src="http://fudi.domoidea.com/app/uploads/fudi/green-certification1.png" alt="">
							<img src="http://fudi.domoidea.com/app/uploads/fudi/green-certification2.png" alt="">
							<img src="http://fudi.domoidea.com/app/uploads/fudi/green-certification3.png" alt="">
						</div>
						<ul class="mt-4 list-disc pl-4">
							<li>World-wide Patent Certification</li>
							<li>Practical application</li>
						</ul>
					</p>
				</div>
			</div>
			<div class="pic flex justify-center items-center relative">
				<img src="http://fudi.domoidea.com/app/uploads/fudi/green3.png" alt="">
				{% include "@cmpt/ribbon/ribbon.twig" with {
					class: 'right-0 top-0 -r-14',
					color: 'yellow',
					animate: true,
					type: 'big',
				}%}
				{% include "@cmpt/ribbon/ribbon.twig" with {
					class: 'left-0 bottom-0 flip',
					color: 'pink',
					animate: true,
					type: 'big',
					width: 100,
				}%}
			</div>
		</div>
	</div>

	<div class="neck mt-16" style="background-image:url('http://fudi.domoidea.com/app/uploads/fudi/greenFooter.jpg')"></div>

{% endblock %}
