{% extends "@layout/base.twig"%}
{# {% block append %}
	{{sidebar}}
{% endblock %} #}
{% set cur = 'qa' %}
{% block necker %}{% endblock %}
{% block bodier %}

	{# {{post.content}} #}

	{% set qa = [{
		question: '最低訂購量？',
		answer: '不織布袋/棉帆布/保冰袋 : 手工車縫5,000PCS，自動袋30,000PCS<br>不織布自動袋/尼龍袋/牛津布袋 : 10,000PCS',
	},{
		question: '打樣及交貨時間？',
		answer: '不織布袋/棉帆布/保冰袋 : 手工車縫5,000PCS，自動袋30,000PCS<br>不織布自動袋/尼龍袋/牛津布袋 : 10,000PCS',
	},{
		question: '如何選擇袋型/車法/布厚？',
		answer: '不織布袋/棉帆布/保冰袋 : 手工車縫5,000PCS，自動袋30,000PCS<br>不織布自動袋/尼龍袋/牛津布袋 : 10,000PCS',
	},{
		question: '是否有經濟尺寸或大小限制？',
		answer: '不織布袋/棉帆布/保冰袋 : 手工車縫5,000PCS，自動袋30,000PCS<br>不織布自動袋/尼龍袋/牛津布袋 : 10,000PCS',
	},{
		question: '原料及成型尺寸公差？',
		answer: '不織布袋/棉帆布/保冰袋 : 手工車縫5,000PCS，自動袋30,000PCS<br>不織布自動袋/尼龍袋/牛津布袋 : 10,000PCS',
	},{
		question: '不織布購物袋與紙袋之比較？',
		answer: '不織布袋/棉帆布/保冰袋 : 手工車縫5,000PCS，自動袋30,000PCS<br>不織布自動袋/尼龍袋/牛津布袋 : 10,000PCS',
	},] %}
	<div class="container pb-16">
		<div class="s-title py-4  text-center">
			<h1>常見問題</h1>
			<img src="{{'images/d/qa-dt.png'|assets}}" alt="" class="d-txt onCenter">
		</div>

		<div class="bg-repeat mt-8 mb-4" style='height:1px;background-image:url({{"images/line.png"|assets}})'></div>

		<section class="mt-8">
			{% for item in qa %}
				{% include "@cmpt/qaItem/qaItem.twig" with {item: item}%}
			{% endfor %}
		</section>
	</div>
</div>{% endblock %}
