<section class='bg-black py-14'>
	<div class="section-title text-white text-center">OUR CLIENTS</div>
	<div class="mt-8 flex flex-wrap container justify-between px-16" style='max-width:1150px'>
		{% for key, item in client.items %}
			{% set img =  Image(key) %}
			<img src="{{ img.src }}" alt="{{ img.alt }}" class='w-2/5 mx-3 lg:w-auto'>
		{% endfor %}
		<div class="spacer" style='width:200px'></div>
		<div class="spacer" style='width:200px'></div>
		<div class="spacer" style='width:200px'></div>
	</div>
</section>
