<div class="ad-nav-item {{class}}">
	<div class="icon">
		<div class="active">
			{% include "@cmpt/ribbon/ribbon.twig" with {
				class: 'right-0 bottom-0 flip mb-1',
				width: 27,
			}%}
		</div>
		<div class="non-active">
			{% include "@cmpt/ribbon/ribbon.twig" with {
				class: 'right-0 bottom-0 flip mb-1',
				width: 10,
				type: 'small'
			}%}
		</div>
	</div>
	<div class="txt">{{txt}}</div>
</div>
