{% extends "@layout/base.twig"%}
{% block necker %}{% endblock %}
{% block bodierCls %}{% endblock %}
{% block bodier %}

	<div class="container pb-16">
		<div class="s-title py-8  text-center">
			<h1>最新消息</h1>
			<img src="http://tainyi.domoidea.com/app/uploads/tainyi/news_dt1.png" alt="" class="d-txt onCenter">
		</div>

		<div class="flex mt-4 justify-center space-x-6">
			{{sidebar}}
			{# {% for item in terms %}
							<a href="{{item.link}}" class="t-btn">{{ item.title}}</a>
						{% endfor %} #}
		</div>


		<div class="flex flex-wrap mt-16 ani-stagger">
			{% for item in posts %}
				<div class="md:w-full w-1/3 px-5 mb-8">
					{% include "@cmpt/card/card.twig" with { 
						item: item, 
						type:'col',
						class: 'ani-item',
						maxLength: 10,
						}%}
				</div>
			{% endfor %}
		</div>


		{% include "@cmpt/pagination/pagination.twig" with {row:pagination }%}
	</div>
{% endblock %}
