{% extends "@layout/base.twig"%}
{% block necker %}
	<div class="container wider">
		{% include "@cmpt/slider/slider.twig" with {banners:products_banners,ratio_cls:"neck-ratio-thin"}%}
	</div>
{% endblock %}

{% block bodier %}

	{% set terms = [{
		link: '#',
		title: '保冷袋',
	},{
		link: '#',
		title: '束口袋',
	},{
		link: '#',
		title: '提袋',
	},{
		link: '#',
		title: '特殊版袋',
	}] %}


	{% set products = [{
		title: '摩斯漢堡',
		link: '#',
		thumbnail: {
			src: 'images/d/demoBag.png',
		}
	},{
		title: '摩斯漢堡',
		link: '#',
		thumbnail: {
			src: 'images/d/demoBag.png',
		}
	},{
		title: '摩斯漢堡',
		link: '#',
		thumbnail: {
			src: 'images/d/demoBag.png',
		}
	},{
		title: '摩斯漢堡',
		link: '#',
		thumbnail: {
			src: 'images/d/demoBag.png',
		}
	},{
		title: '摩斯漢堡',
		link: '#',
		thumbnail: {
			src: 'images/d/demoBag.png',
		}
	},] %}

	<div class="container py-16 md:py-4">
		<div class="flex md:flex-col">
			<div class="side w-48 md:w-full">

				{{sidebar}}
				{# <h3 class="text-xl font-bold md:text-center">產品分類</h3>
																																<div class="mt-2 md:flex md:justify-around">
																												
																																	{% for item in terms %}
																																		<a href="{{item.link}}" class="block my-6 hover:underline">{{ item.title}}</a>
																																	{% endfor %}
																																</div> #}
			</div>


			<div class="innerContainer flex-grow">
				<div class="flex flex-wrap justify-between ani-stagger">
					{% for item in posts %}
						{% include "@cmpt/bag.twig" with { item: item ,cls :'w-1/3 mb-4 ani-item'} %}
					{% endfor %}

					<div class="space w-1/3"></div>
					<div class="space w-1/3"></div>
					<div class="space w-1/3"></div>

				</div>


				{# pagination  #}
				<div class="mt-8">

					{% include "@cmpt/pagination/pagination.twig" with {row:pagination }%}
				</div>
			</div>

		</div>

	</div>
{% endblock %}
