{% if sidebar %}
	<div class="loopbar flex mb-3">
		<a class="btn bg-primary text-white px-2 py-1 gee lg:none lg:hidden" data-ta=".sidebar-drawer" data-gene="click:drawer.toggle" href="javascript:;">
			<i class="icon icon-menu"></i>
			{{__('分類選單','domo')}}</a>
	</div>
{% endif %}
