<form role="search" method="get" id="searchform" action="{{ site.link }}">
	<div class="flex">
		<input class="input" name="s" id="s" placeholder="{{ messages.search_form.search }}" value="">
		<button type="submit" class="btn ml-2 text-lg font-bold">
			<i class="icon icon-search"></i>
		</button>
	</div>
</form>
