{% if sidebar %}
	<div class="sidebar-drawer  w-10/12 lg:w-4/12 drawer md:drawer --left px-4  lg:py-0 py-12  lg:pr-10">
		<a href="javascript:;" class="close">
			<i class="icon icon-close"></i>
		</a>
		{{ sidebar }}
	</div>
{% endif %}
